In [11]:
import numpy as np
import pandas as pd
from susy_qm import calculate_Hamiltonian

In [20]:
num_cut_offs = 12
cutoffs = [2**i for i in range(1, num_cut_offs + 1)]
potentials = ['QHO', 'AHO', 'DW']
data = []
all_data = []

for potential in potentials:

    print(f"Running for {potential} potential")
    e0 = []
    e1 = []
    e2 = []
    ratios = []

    for cutoff in cutoffs:

        H = calculate_Hamiltonian(cutoff, potential)
        eigenvalues = np.sort(np.linalg.eig(H)[0])[:3].real

        e0.append(eigenvalues[0])
        e1.append(eigenvalues[1])
        e2.append(eigenvalues[2])

        r = (eigenvalues[2] - eigenvalues[1]) / (eigenvalues[2] - eigenvalues[0])
        ratios.append(r)

    data = {"cutoff": cutoffs,
        "e0": e0,
        "e1": e1,
        "e2": e2,
        "ratios": ratios}

    all_data.append(data)

Running for QHO potential
Running for AHO potential
Running for DW potential

In [21]:
pd.DataFrame(all_data[0])

    cutoff   e0   e1   e2        ratios
0        2  0.0  0.0  1.0  1.000000e+00
1        4  0.0  1.0  1.0  1.110223e-16
2        8  0.0  1.0  1.0  1.110223e-16
3       16  0.0  1.0  1.0  1.110223e-16
4       32  0.0  1.0  1.0  1.110223e-16
5       64  0.0  1.0  1.0  1.110223e-16
6      128  0.0  1.0  1.0  1.110223e-16
7      256  0.0  1.0  1.0  1.110223e-16
8      512  0.0  1.0  1.0  1.110223e-16
9     1024  0.0  1.0  1.0  1.110223e-16
10    2048  0.0  1.0  1.0  1.110223e-16
11    4096  0.0  1.0  1.0  1.110223e-16

In [22]:
pd.DataFrame(all_data[1])

    cutoff            e0        e1        e2        ratios
0        2 -4.375000e-01 -0.437500  2.062500  1.000000e+00
1        4 -1.647853e-01  0.673310  1.667943  5.427061e-01
2        8  3.201011e-02  1.680156  1.833526  8.513391e-02
3       16 -1.166976e-03  1.677494  1.686381  5.266251e-03
4       32  6.182239e-06  1.686499  1.686559  3.585457e-05
5       64 -1.944565e-08  1.686500  1.686501  9.729222e-08
6      128 -1.134791e-11  1.686501  1.686501  5.419348e-11
7      256  2.162236e-10  1.686501  1.686501  1.076090e-10
8      512  1.576977e-09  1.686501  1.686501  1.302797e-09
9     1024  1.755417e-08  1.686501  1.686501  5.601820e-09
10    2048 -2.255746e-07  1.686501  1.686501  3.869653e-08
11    4096  2.073725e-07  1.686501  1.686501  2.260750e-07

In [23]:
pd.DataFrame(all_data[2])

    cutoff        e0        e1        e2    ratios
0        2  0.357233  0.771447  1.478553  0.630602
1        4  0.906560  0.950634  1.695666  0.944147
2        8  0.884580  0.887725  2.693873  0.998262
3       16  0.891599  0.891641  2.734122  0.999977
4       32  0.891632  0.891632  2.734011  1.000000
5       64  0.891632  0.891632  2.734011  1.000000
6      128  0.891632  0.891632  2.734011  1.000000
7      256  0.891632  0.891632  2.734011  1.000000
8      512  0.891632  0.891632  2.734011  1.000000
9     1024  0.891632  0.891632  2.734011  1.000000
10    2048  0.891632  0.891632  2.734011  1.000000
11    4096  0.891632  0.891632  2.734011  1.000000